/* .main-div{
    margin-left: auto;
    margin-right: auto;
   
} */

*{
    background-color:black;
}

h1{
    text-align: center;
    color: white;
    
}

.heading{
    font-size:60px;
}

.text1{
    text-align: center;
    color: white;
    font-size:2.8em;
    margin-bottom: 30px;
    margin-top:20px;
}



table{
    margin-left: auto;
    margin-right: auto;
}

.button-div{
    text-align: center;
    margin-top: 50px;

}

.but{
    background-color:white;
    color:black;
    width: 150px;
    height: 75px;
    font-size: 2em;
}

.but:hover{
    background-color:black;
    color:white;
    border: 2px solid white;
}


td{
    border: 7px solid black;
    height: 100px;
    width: 100px;
    background-color: rgb(123, 252, 111);
    font-size:3.2em;
    text-align:center;
    
}

td:hover{
    background-color: rgb(179, 255, 172);
}